.tweet{

background-color: var(--twitter-color ) !important  ;    

border: none !important;
color: rgb(255, 255, 255) !important;
font-weight: 900 !important;
text-transform: none !important;
border-radius: 30px !important;
height: 50px !important;
margin-top: 20px !important;
text-decoration: none ;


} 
/***
!important - its theme which  used for overriding in material ui  theme
*/

.sidebarr {
    border-right: 1px solid var(--twitter-background);
    margin-top: 10px;
    padding-left: 0px;
    padding-right: 70px;

    flex: 0.2;
    




}

.twitter_icon {
    color: var(--twitter-color);
    font-size: 40px !important;
    margin-left: 20px;
}

