.tweetbox {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--twitter-background);
    padding-right: 10px;

}

.tweetbox > form {
    display: flex ;
    flex-direction: column;

}

.box_input {
    padding: 20px 20px;
    display: flex;

}

.box_input > input {
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
     border: none;


}

.tweetbutton {
 
      background-color: var(--twitter-color) !important;
      border: none !important;
      color: rgb(255, 255, 255) !important; /*!importanat-  ""OVERRIDE""*/
      font-weight: 900 !important;
      text-transform: inherit !important;
      border-radius: 30px !important;
      width: 80px;
      height: 40px !important;
      margin-top: 20px !important;
      margin-left: auto !important;


}

.image {
    border:none;
    padding:10px;
    margin-left: 20px;
}